* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
html,
body {
  height: 100% !important;
}
body {
  font-size: 14px;
  color: #666;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #5ab0ee;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dis_table {
  display: table;
}
.dis_table_cell {
  display: table-cell;
  vertical-align: middle;
}
.transition {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/*/////////////////////////////////////////////////// Form UI KIT /////////////////////////////////////////////*/
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  height: 45px;
  width: 100%;
  border-radius: 3px;
  line-height: 35px;
  font-size: 12px;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  background-color: transparent;
}
select,
textarea {
  height: 45px;
  width: 100%;
  border-radius: 3px;
  line-height: 35px;
  font-size: 12px;
  font-weight: 300;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  background-color: transparent;
}
textarea {
  resize: none;
  height: 160px;
}
/*/////////////////////////////////////////////////// Buttons /////////////////////////////////////////////*/
.app_btn {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 38px;
  color: #fff;
  border: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.btn_red {
  background-color: #e74e40;
}
.btn_red:hover {
  background-color: #cd4337;
}
.btn_green {
  background-color: #82b440;
}
.btn_green:hover {
  background-color: #91d03f;
}
.btn_blue {
  background-color: #5ab0ee;
}
.btn_blue:hover {
  background-color: #4a98d0;
}
.btn_sky {
  background-color: #85d6de;
}
.btn_sky:hover {
  background-color: #64ccd6;
}
.btn_curve {
  border-radius: 38px;
  padding-left: 24px;
  padding-right: 24px;
}
/*/////////////////////////////////////////////////// Login Page /////////////////////////////////////////////*/
.proj_login_page {
  background-color: #364760;
  height: 100%;
  display: table;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.copyright {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 45px;
}
.login_box {
  width: 300px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.login_box h1 {
  font-size: 40px;
}
.login_box h2 {
  font-size: 18px;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.6);
}
.login_box h2 span {
  font-weight: 100;
}
.login_box input {
  margin-bottom: 8px;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
  padding-left: 40px;
  background-color: rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.login_box input:focus {
  background: rgba(0, 0, 0, 0.15);
}
.login_box button {
  margin-top: 20px;
  cursor: pointer;
}
.login_box .field_set {
  position: relative;
}
.login_box .field_set i {
  position: absolute;
  top: 15px;
  left: 15px;
  color: rgba(255, 255, 255, 0.3);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.login_box .logo_wrapp {
  margin-bottom: 15px;
}
.login_box a {
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  color: #ffffff;
  position: relative;
}
.login_box a:after {
  content: '';
  height: 1px;
  width: 0%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  position: absolute;
  left: 0;
  bottom: -8px;
  background-color: #5ab0ee;
}
.login_box a:hover:after {
  width: 100%;
}
/*/////////////////////////////////////////////////// All pages Config /////////////////////////////////////////////*/
#all_page_wrapper {
  display: table;
  align: stretch;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  vertica-align: top;
}
.app_header_top {
  background-color: #e74e40;
  height: 75px;
  width: 100%;
}
.app_header_top span {
  vertical-align: top;
  display: inline-block;
}
.app_header_top .loged_in_status {
  color: #fff;
  padding-top: 28px;
  padding-left: 25px;
  font-size: 15px;
  font-weight: 300;
}
.app_header_top .loged_in_status i {
  margin-right: 6px;
}
.app_header_top .right_infos {
  float: right;
  width: auto;
}
.app_header_top .right_infos span {
  height: 30px;
  width: 30px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  padding-top: 6px;
  margin-top: 23px;
  margin-right: 15px;
  cursor: pointer;
}
.app_header_top .log_out {
  height: 75px;
  background: #e53030;
  color: #fff;
  width: auto;
  float: right;
}
.notification {
  font-size: 10px;
  padding: 3px 6px;
  color: #fff;
  background-color: #82b440;
  border-radius: 4px !important;
  top: -11px;
  right: -12px;
}
.app_left_part {
  display: table-cell;
  width: 300px;
  background-color: #364760;
  min-height: 100%;
  z-index: 999;
  vertical-align: top;
}
.app_left_part .app_logo_holder {
  background-color: #fff;
  padding: 10px 25px;
  text-align: center;
}
.app_left_part .app_logo_holder img {
  width: 70%;
}
.logo_slogan {
  color: #fff;
  width: 300px;
  display: inline-block;
  background-color: #cd4337;
  padding: 10px 20px;
}
.logo_slogan span {
  font-weight: 700;
  font-size: 17px;
}
.app_left_navigation ul li {
  color: #fff;
}
.app_left_navigation ul li.activeLink {
  background-color: rgba(0, 0, 0, 0.15);
}
.app_left_navigation ul li a {
  line-height: 55px;
  position: relative;
  display: block;
  color: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  font-weight: 700;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.app_left_navigation ul li a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.app_left_navigation ul li a i {
  position: absolute;
  width: 40px;
  height: 55px;
  top: 0px;
  left: 0;
  text-align: center;
  line-height: 59px;
  color: rgba(255, 255, 255, 0.5);
}
.app_left_navigation ul li a span {
  padding-left: 40px;
}
.app_left_navigation ul li.has_child {
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.app_left_navigation ul li.has_child ul li a {
  padding-left: 40px;
  text-decoration: none;
  font-size: 13px;
  line-height: 40px;
  border-bottom: none;
  font-weight: 300;
}
.app_left_navigation ul li.has_child ul li a:after {
  content: '';
  height: 1px;
  width: 0%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #bf81e8;
}
.app_left_navigation ul li.has_child ul li a:hover:after {
  width: 100%;
}
.app_right_part {
  display: block;
  width: 100%;
  min-height: 960px !important;
  z-index: 888;
  vertical-align: top;
  padding: 25px 25px 45px 25px;
  background-color: #e3e6ee;
}
.app_right_part .content_wrap {
  margin-bottom: 20px;
}
.app_right_part input,
.app_right_part select,
.app_right_part textarea {
  height: 35px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);
}
.app_right_part textarea {
  height: 160px;
}
.app_right_part .dis_table {
  width: 100%;
}
.app_right_part .dis_table_cell {
  width: 32%;
  margin: 0 1%;
  padding-right: 0px;
}
.app_right_part .dahs_box {
  padding: 25px;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 25px;
  verticle-align: top;
}
.app_right_part .dahs_box .title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}
.app_right_part .dahs_box .count {
  font-size: 40px;
  font-weight: 700;
}
.app_right_part .box_blue {
  background-color: #5ab0ee;
}
.app_right_part .box_purple {
  background-color: #bf81e8;
}
.app_right_part .box_yellow {
  background-color: #f3bc65;
}
.app_right_part .box_red {
  background-color: #e74e40;
}
.app_right_part .box_sky {
  background-color: #85d6de;
}
.app_right_part .box_green {
  background-color: #82b440;
}
.app_right_part .middle_box {
  margin: 0 2% 25px;
}
.app_right_part .dark_grey_box {
  background-color: #364760;
}
/*///////////////////////// Table Listing Design //////////////////////////////////////////////*/
.table_list_view h1 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.table_list_view h1 a {
  display: inline-block;
  padding: 10px 25px;
  float: right;
  width: auto;
  line-height: 26px;
}
.table_list_view table {
  width: 100%;
}
.table_list_view table tr {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.table_list_view table thead {
  background-color: #dadee1;
  color: #1c4759;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}
.table_list_view table thead td {
  padding: 15px;
}

.table_list_view table tbody  a:hover{color:#fff !important;}
.table_list_view table tbody {
  font-size: 14px;
  font-weight: 500;
  color: #1c4759;
}
.table_list_view table tbody a {
  font-size: 14px !important;
  color: #1c4759 !important;
}
.table_list_view table tbody tr:nth-child(odd) {
  background-color: #fff;
}
.table_list_view table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
.table_list_view table tbody tr:hover {
  background-color: #85d6de;
}
.table_list_view table tbody tr:hover td {
  color: #fff;
}
.table_list_view table tbody tr:hover td a {
  color: #fff ;
}
.table_list_view table tbody tr:hover span {
  color: #fff;
  border-color: #fff;
}
.table_list_view table tbody td {
  padding: 20px 15px;
}
.table_list_view table tfoot {
  background-color: #fff;
}
.table_list_view table tfoot tr td {
  padding: 30px;
  border-top: solid 3px rgba(0, 0, 0, 0.2) !important;
}
.table_list_view table tfoot select {
  width: auto;
  margin-left: 8px;
}
.actions {
  width: 140px;
}
.actions span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  font-size: 15px;
  display: inline-block;
  cursor: pointer;
  margin-right: 8px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.actions .icon_yellow {
  color: #f3bc65;
  border: solid 1px #f3bc65;
}
.actions .icon_yellow a {
  color: #f3bc65;
}
.actions .icon_yellow:hover {
  background-color: #f3bc65;
  color: #fff;
}
.actions .icon_yellow:hover a {
  color: #fff;
}
.actions .icon_green {
  color: #82b440;
  border: solid 1px #82b440;
}
.actions .icon_green a {
  color: #82b440;
}
.actions .icon_green:hover {
  background-color: #82b440;
  color: #fff;
}
.actions .icon_green:hover a {
  color: #fff;
}
.actions .icon_red {
  color: #e74e40;
  border: solid 1px #e74e40;
}
.actions .icon_red a {
  color: #e74e40;
}
.actions .icon_red:hover {
  background-color: #e74e40;
  color: #fff;
}
.actions .icon_red:hover a {
  color: #fff;
}

td table{
	 border:solid 1px rgba(0,0,0,.2);
	 border-right:none;
	 border-bottom:none;
	}
	
td table tr td,
td table tr th{

	 border-right:solid 1px rgba(0,0,0,.2);
	 border-bottom:solid 1px rgba(0,0,0,.2);
	 }



td table tr th{padding:10px;}
td table tr th:nth-child(1),
td table tr td:nth-child(1){width:35px !important;}	

.activities-list{vertical-align:top;}
.activities-list:hover,
.activities-list:hover td{background-color:#e6e6e6 !important;color:#1c4759 !important;}



.sub_tbl_hdr,
.sub_tbl_hdr:hover{background-color:#1c4759 !important;color:#fff !important;}
	
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////// form_kit/////////////////////////////////////////////////////////////////*/
.form_kit {
  margin: 20px 0;
  background: #fff;
  padding: 30px;
}
.form_kit h1 {
  margin-bottom: 8px;
}
.form_kit .field_set {
  margin-top: 25px;
}
.form_kit label {
  width: 20%;
  margin-right: 20px;
  text-align: right;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 38px;
  font-weight: 900;
}
.form_kit input,
.form_kit select,
.form_kit textarea {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px !important;
  padding-left: 10px;
}
.form_kit button {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
.view_page_module h1 span {
  width: auto;
}
.view_page_module .table_list_view {
  margin-top: 35px;
}
.view_page_module table {
  margin-bottom: 20px;
}
.view_page_module table tr td:first-child {
  font-weight: 900;
  width: 200px;
}
.view_page_module button {
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
/*//////////////////////////////////////////////////*/
.obj-wrap {
  width: 60%;
  display: inline-block;
}
.obj-wrap input,
.obj-wrap select {
  font-weight: 500;
  width: 22.8%;
  margin-right: 10px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}
.obj-wrap .full-width {
  width: 98%;
}
.obj-wrap a {
  display: inline-block;
  width: 97px;
  line-height: 40px;
}
.obj-row {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=custom.css.map */


.obj-row{
		position:relative;
	}
	
.remove_btn{
		position:absolute;
		top:-15px;
		right:-15px;
		height:30px;
		width:30px !important;
		display:block;
		border-radius:50%;
		line-height:32px !important;
	}
	
/*******************************/
.ui-datepicker{width:auto !important;background:#5ab0ee;border:none !important}
.ui-widget-content{color:#fff;}

a.ui-state-default{background:rgba(255,255,255,.3) !important;border:none !important}
a.ui-state-highlight{background:rgba(0,0,0,.3) !important;border:none !important}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{width:49% !important; height:30px !important;}

.log_out:hover{
		border-color:#1c4759;
		background-color:#1c4759;
	}
	
.log_out:hover a{color:#fff;}

.ui-datepicker-title select option{
	color:#red !important;
	background-color:#000 !important;
	}
	
.ui-datepicker-title select option {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.ui-datepicker-title select option::-ms-expand { /* for IE 11 */
    display: none;
}


/********************  TAB DESIGN  *********************/

.ui-tabs{
	border-radius:0;
	padding:0}
	
.ui-tabs .ui-corner-all{border-radius:0 !important;}
.ui-widget-header{border:none;background:none;}

.ui-state-default {
	border:none;
	border-radius:0 !important;
	padding:5px 15px !important;
	background:#cdcdcd !important;
	color:#fff !important;
	}
	
.ui-state-default:hover{
	border:none !important;
	background:#878787 !important;
	padding:5px 15px !important;
	
	}
	
.ui-state-default a{color:#818181 !important;}

.ui-state-active{
	border:none !important;
	background:#e74e40 !important;
	}
	
.ui-state-active a,
.ui-state-default:hover a{color:#fff !important}

.ui-tabs table tr td:nth-child(1){width:300px;}

.search-form{display:inline-block;margin-right:10px;margin-top:20px;}
.search-form input{height:35px;padding:5px;border-color:rgba(255,255,255,.3);width:250px;}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*.staticTable{padding:20px;background:rgba(255,255,255,.9);margin:20px 0;}
.staticTable table{
		display:table;
		width:100%;
		border-top:solid 1px rgba(0,0,0,.3);
		border-left:solid 1px rgba(0,0,0,.3);
	}
	
	.staticTable tr td,
	.staticTable tr th{
		border-right:solid 1px rgba(0,0,0,.3);
		border-bottom:solid 1px rgba(0,0,0,.3);
		padding:10px;
		vertical-align:top;
		}
		
	.staticTable tr td:nth-child(1){width:50px !important}
		
	.staticTable tr td:nth-child(1),
	.staticTable tr th:nth-child(1){width:40px;}
	
	.staticTable table tr:nth-child(1) th{border-bottom:none !important;}
	
	.inTD{display:block;border-bottom:solid 1px rgba(0,0,0,.3);margin-left:-10px;margin-right:-10px;padding:10px;}
	
	.inTD:last-child{border-bottom:none}
	
	.fixwidth_col{max-width:200px;min-width:150px;}
	
	
	
.ui-tabs-panel ui table tr td:hover .ui-tabs-panel ui table tr td table {color:#000 !important}



.staticTable,
.app_right_part{width:100%;position:relative;}	
.staticTable table tr td{padding:0;}
.staticTable table tr td span{padding: 8px 15px; display:block;}
.staticTable table tr td table{border:none;}

.staticTable table thead{background:#666;color:#fff;}

.staticTable table .scrollBody{height:300px;overflow-y:scroll;}

.staticTable table tr th:nth-child(2){width:250px;}
.staticTable table tr th:nth-child(3){width:300px;}
.staticTable table tr th:nth-child(4){width:80px;}
.staticTable table tr th:nth-child(5){width:100px;}
.staticTable table tr th:nth-child(6){width:100px;}


.rowAdjTable tbody tr td:nth-child(1){width:305px !important;}
.rowAdjTable tbody tr td:nth-child(2){width:82px !important;}
.rowAdjTable tbody tr td:nth-child(3){width:101px !important;}
.rowAdjTable tbody tr td:nth-child(4){width:102px !important;}*/


/**8888*/


.about-wrap{
	text-align:center;
	background:#fff;
	border-radius:5px;
	padding:80px 0;}
	
.about-wrap img{
		width:280px;
		margin-bottom:40px;
	}
	
.prj-name{display:block;}


/* table Heading Style*/

.tblHdr{
	width:100%;
	display:table;
	background-color:#364760;color:#fff;
	text-align:center;
	font-weight:300;
	font-size:14px;
	font-weight:700 !important;
	}
	

.loop_row div{font-size:13px;font-weight:300 !important;}


	
.td_col,
.td_sub_top_col,
.td_sub_col{display:table-cell;vertical-align:top;padding-bottom:0;min-height:54px;height:55px;max-height:100px;}
.td_sub_top_col{height:46px;}

.td_sub_col{border-bottom:solid 1px rgba(0,0,0,.2);}

.td_col p{padding-top:15px;}

.tblHdr .td_col:nth-child(1){width:60px;border-right:solid 1px rgba(0,0,0,.2);}
.tblHdr .td_col:nth-child(2){width:250px;border-right:solid 1px rgba(0,0,0,.2);}
.tblHdr .td_col:nth-child(3),
.td_sub_col1{width:300px;border-right:solid 1px rgba(0,0,0,.2);}
.tblHdr .td_col:nth-child(4),
.td_sub_col2{width:80px;border-right:solid 1px rgba(0,0,0,.2);}
.tblHdr .td_col:nth-child(5){width:200px;border-right:solid 1px rgba(0,0,0,.2);}

.tblHdr .td_col:nth-child(5) p{padding-bottom:15px; border-bottom:solid 1px rgba(0,0,0,.2);}

.td_sub_col5{width:169px;}
.td_col .td_sub_top_col,
.td_sub_col3,
.td_sub_col4{width:100px;border-right:solid 1px rgba(0,0,0,.2);}

.pdd_btm{padding-bottom:10px !important;}
.pdd_top{padding-top:10px !important;}

.td_sub_col0{
	    width: 50px;
    padding: 10px 0px 0px 10px;
    font-weight: 300;
    font-size: 12px;
}

.td_sub_col1{width:250px;}
	

.bdr_right_none{border-right:none !important;}

/* table Heading Style Ends*/

.loop_row{
	width:100%;
	display:table;
	background-color:#fff;color:#666;
	vertical-align:top;
	margin:40x 0;
	
}

.loopRowWrapp{
	height:600px;
	overflow-y:auto;
	}

.loop_row .td_col:nth-child(1){width:60px;border-right:solid 1px rgba(0,0,0,.2);border-bottom:solid 1px rgba(0,0,0,.2);padding:0 0 0 10px;}
.loop_row .td_col:nth-child(2){width:250px;border-right:solid 1px rgba(0,0,0,.2);border-bottom:solid 1px rgba(0,0,0,.2);padding:0 0 0 10px;}
.loop_row .td_col:nth-child(3){width:auto;border-right:solid 1px rgba(0,0,0,.2);}

.td_sub_col1,
.td_sub_col2,
.td_sub_col3,
.td_sub_col4,
.td_sub_col5{padding:10px;}



.submenu{display:none}

/*custom*--------------------------*/

.vdc-list-project{
	display:flex;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	width:100%;}
.vdc-list-project:before,
.vdc-list-project:after,
.vdc-list-budget:before,
.vdc-list-budget:after{
	content:'';
	display:table;
	clear:both}

.vdc-list-project{}
.vdc-list-project h2,
.vdc-list-budget h2{font-size:30px;margin-bottom:20px;margin-top:40px;width:100%;}

.item-vdc{
	width:20%;
	float:left;
	text-align:center;
	padding:25px 45px;
	border-right:solid 1px rgba(0,0,0,.15);
	border-bottom:solid 1px rgba(0,0,0,.15);
	font-size:18px;
	}
	
.item-vdc a{font-size:18px;}
	


