.site_tabling{

    table{
        width: 100%;

        thead{
            text-align: left;
            font-size: 14px;
            text-transform: uppercase;

            th{
                padding: 18px 10px;
                background-color: $base-blue;
                color: white;

                &:last-child{
                    width: 70px;
                    text-align: center;

                    @media only screen and (max-width: 800px) {
                        width: auto;
                    }
                }
            }
        }

        tbody{

            tr{
                &:hover{
                    td{
                        background-color: white(0.9);
                        border-bottom: solid 1px $base-blue;

                        &:last-child{
                            a,
                            .action_icon{
                                color:$base-yellow;

                                a{
                                    color: black(0.7);
                                    &:hover{
                                        color:white;
                                    }
                                }

                            }
                        }
                    }
                }
            }

            td{
                padding: 18px 10px;
                font-size: 16px;
                font-weight: 300;
                border-bottom: solid 1px black(0.09);
                @extend .transition;


                &:last-child{
                    width: 70px;
                    text-align: center;

                    @media only screen and (max-width: 800px) {
                        width: auto;
                        text-align: right;
                    }

                    a,
                    .action_icon{
                        color: black(0.8);
                        @extend .transition;
                        text-decoration: none;
                    }

                }

            }

        }
    }

}


//Action Btn Styling

.action_icon{
    position: relative;
    cursor: pointer;

    &:hover{

        .actions_wrapp{
            visibility: visible;
            opacity: 1;
            right: 50px;
        }

    }


}

.actions_wrapp{
    width: 157px;
    position: absolute;
    top:-13px;
    right:0px;
    display: inline-block;
    padding: 18px 0px 8px;
    background-color: $base-yellow;
    @extend .transition;
    text-align: center;
    opacity: 0;
    visibility: hidden;

    &:before{
        content: '';
        position: absolute;
        top:16px;
        right:-15px;
        border-width: 8px;
        border-color:transparent transparent transparent $base-yellow;
        border-style: solid;
    }

    a{
        display: inline-block;
        vertical-align: text-top;
        padding: 0 15px;
        color:black;
    }
}


//Pagination

.grid_pagination{
    margin: 20px 0;
    text-align: right;

        ul{
            display: inline-block;

            li{
                float: left;
                margin: 0 4px;

                a{
                    display: block;
                    padding: 5px 10px;
                    border: solid 2px black(0.4);
                    text-decoration: none;
                    color:black;
                    @extend .transition;

                    &:hover{
                        background-color: black(0.4);
                        color: #fff;
                    }
                }

                .active_page{
                    color:#fff;
                    background-color: $base-purple;
                    border:solid 2px $base-purple;
                }

            }

        }

}


.ftr_sort{
    margin-right: 40px;
    line-height: 40px;

    li{
        span{
            float: left;
            margin-right: 10px;
        }
    }
}



//RESPONSIVE TABLE/////////////////////////////////////////////////////

@media only screen and (max-width: 800px) {

    .site_tabling table tbody td{
        padding: 16.5px 10px;
    }

    .site_tabling .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
    .site_tabling * html .cf { zoom: 1; }
    .site_tabling *:first-child+html .cf { zoom: 1; }

    .site_tabling table { width: 100%; border-collapse: collapse; border-spacing: 0; }

    .site_tabling th,
    .site_tabling td { margin: 0; vertical-align: top; }
    .site_tabling th { text-align: left; }

    .site_tabling table { display: block; position: relative; width: 100%; }
    .site_tabling thead { display: block; float: left; }
    .site_tabling tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
    .site_tabling thead tr { display: block; }
    .site_tabling th { display: block; text-align: right; }
    .site_tabling tbody tr { display: inline-block; vertical-align: top; }
    .site_tabling td { display: block; min-height: 1.25em; text-align: left; }


    /* sort out borders */

    .site_tabling th { border-bottom: 0; border-left: 0; }
    .site_tabling td { border-left: 0; border-right: 0; border-bottom: 0; }
    .site_tabling tbody tr { border-left: 1px solid #babcbf; }
    .site_tabling th:last-child,
    .site_tabling td:last-child { border-bottom: 1px solid #babcbf; }
}



//REPORT TABLE/////////////////////////////////////////

.report_table{

    table thead tr th{
        border-right: solid 1px white(0.4);
        border-bottom: solid 1px white(0.4);
    }
}
