@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,100,300,500,700,900);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\000033}}
.field_set {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\000038}}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 6px 8px;
  border: solid 1px rgba(0, 0, 0, 0.06);
  resize: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000324}}
.site_form_kit {
  width: auto;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000330}}
  .site_form_kit h2 {
    color: rgba(0, 0, 0, 0.6);
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000335}}
  .site_form_kit p {
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 15px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000344}}
.section_line {
  position: relative;
  height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000348}}
  .section_line:before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.14);
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000361}}
  .section_line h2 span {
    display: inline-block;
    background-color: white;
    padding: 10px 20px 10px 0;
    font-size: 26px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000377}}
.form_error_msg {
  font-size: 12px;
  text-transform: uppercase;
  color: #e74e40;
  padding: 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000386}}
.form_wrapp {
  padding: 25px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\0000389}}
  .form_wrapp label {
    text-align: right;
    padding-right: 40px;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    line-height: 38px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\00003101}}
  .form_wrapp input[type="text"],
  .form_wrapp input[type="tel"],
  .form_wrapp input[type="email"],
  .form_wrapp input[type="password"],
  .form_wrapp select,
  .form_wrapp textarea {
    background-color: rgba(0, 0, 0, 0.04); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_formKit\.scss}line{font-family:\00003111}}
  .form_wrapp .action_btns {
    padding: 20px 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\000034}}
.btn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 14px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000314}}
  .btn:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000320}}
  .btn i {
    margin-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000325}}
.btn_red {
  background-color: #e74e40; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000329}}
.btn_blue {
  background-color: #3da9e0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000334}}
.btn_purple {
  background-color: #bf81e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000338}}
.btn_green {
  background-color: #46d66c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000342}}
.btn_yellow {
  background-color: #f3bc65;
  color: rgba(0, 0, 0, 0.6); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_btnKit\.scss}line{font-family:\0000346}}
  .btn_yellow:hover {
    background-color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\000033}}
.site_tabling table {
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\000036}}
  .site_tabling table thead {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000311}}
    .site_tabling table thead th {
      padding: 18px 10px;
      background-color: #3da9e0;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000316}}
      .site_tabling table thead th:last-child {
        width: 70px;
        text-align: center; }
        @media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000316}}
          .site_tabling table thead th:last-child {
            width: auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000331}}
  .site_tabling table tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: solid 1px #3da9e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000336}}
    .site_tabling table tbody tr:hover td:last-child a,
    .site_tabling table tbody tr:hover td:last-child .action_icon {
      color: #f3bc65; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000340}}
      .site_tabling table tbody tr:hover td:last-child a a,
      .site_tabling table tbody tr:hover td:last-child .action_icon a {
        color: rgba(0, 0, 0, 0.7); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000342}}
        .site_tabling table tbody tr:hover td:last-child a a:hover,
        .site_tabling table tbody tr:hover td:last-child .action_icon a:hover {
          color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000353}}
  .site_tabling table tbody td {
    padding: 18px 10px;
    font-size: 16px;
    font-weight: 300;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000361}}
    .site_tabling table tbody td:last-child {
      width: 70px;
      text-align: center; }
      @media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000361}}
        .site_tabling table tbody td:last-child {
          width: auto;
          text-align: right; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000370}}
      .site_tabling table tbody td:last-child a,
      .site_tabling table tbody td:last-child .action_icon {
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000389}}
.action_icon {
  position: relative;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\0000395}}
  .action_icon:hover .actions_wrapp {
    visibility: visible;
    opacity: 1;
    right: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003106}}
.actions_wrapp {
  width: 157px;
  position: absolute;
  top: -13px;
  right: 0px;
  display: inline-block;
  padding: 18px 0px 8px;
  background-color: #f3bc65;
  text-align: center;
  opacity: 0;
  visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003119}}
  .actions_wrapp:before {
    content: '';
    position: absolute;
    top: 16px;
    right: -15px;
    border-width: 8px;
    border-color: transparent transparent transparent #f3bc65;
    border-style: solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003129}}
  .actions_wrapp a {
    display: inline-block;
    vertical-align: text-top;
    padding: 0 15px;
    color: black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003140}}
.grid_pagination {
  margin: 20px 0;
  text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003144}}
  .grid_pagination ul {
    display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003147}}
    .grid_pagination ul li {
      float: left;
      margin: 0 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003151}}
      .grid_pagination ul li a {
        display: block;
        padding: 5px 10px;
        border: solid 2px rgba(0, 0, 0, 0.4);
        text-decoration: none;
        color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003159}}
        .grid_pagination ul li a:hover {
          background-color: rgba(0, 0, 0, 0.4);
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003165}}
      .grid_pagination ul li .active_page {
        color: #fff;
        background-color: #bf81e8;
        border: solid 2px #bf81e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003178}}
.ftr_sort {
  margin-right: 40px;
  line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003183}}
  .ftr_sort li span {
    float: left;
    margin-right: 10px; }

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003196}}
  .site_tabling table tbody td {
    padding: 16.5px 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003200}}
  .site_tabling .cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003201}}
  .site_tabling * html .cf {
    zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003202}}
  .site_tabling *:first-child + html .cf {
    zoom: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003204}}
  .site_tabling table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003206}}
  .site_tabling th,
  .site_tabling td {
    margin: 0;
    vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003208}}
  .site_tabling th {
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003210}}
  .site_tabling table {
    display: block;
    position: relative;
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003211}}
  .site_tabling thead {
    display: block;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003212}}
  .site_tabling tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003213}}
  .site_tabling thead tr {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003214}}
  .site_tabling th {
    display: block;
    text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003215}}
  .site_tabling tbody tr {
    display: inline-block;
    vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003216}}
  .site_tabling td {
    display: block;
    min-height: 1.25em;
    text-align: left; }

  /* sort out borders */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003221}}
  .site_tabling th {
    border-bottom: 0;
    border-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003222}}
  .site_tabling td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003223}}
  .site_tabling tbody tr {
    border-left: 1px solid #babcbf; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003224}}
  .site_tabling th:last-child,
  .site_tabling td:last-child {
    border-bottom: 1px solid #babcbf; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_tableUI\.scss}line{font-family:\00003234}}
.report_table table thead tr th {
  border-right: solid 1px rgba(255, 255, 255, 0.4);
  border-bottom: solid 1px rgba(255, 255, 255, 0.4); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\000033}}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000312}}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000319}}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000327}}
.transition, .btn, .site_tabling table tbody td, .site_tabling table tbody td:last-child a,
.site_tabling table tbody td:last-child .action_icon, .actions_wrapp, .grid_pagination ul li a, nav ul li a, .drop_Down_menu, .view_row_wrapp {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000336}}
.flex, .module_search, .projects_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000346}}
[class*="col_"] {
  display: inline-block;
  float: left;
  padding: 0 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000352}}
.col_1 {
  width: 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000353}}
.col_1_5 {
  width: 15%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000354}}
.col_2 {
  width: 20%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000355}}
.col_2_5 {
  width: 25%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000356}}
.col_3 {
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000357}}
.col_3_3 {
  width: 33.33%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000358}}
.col_3_5 {
  width: 35%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000359}}
.col_4 {
  width: 40%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000360}}
.col_4_5 {
  width: 45%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000361}}
.col_5 {
  width: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000362}}
.col_5_5 {
  width: 55%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000363}}
.col_6 {
  width: 60%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000364}}
.col_6_5 {
  width: 65%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000365}}
.col_7 {
  width: 70%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000366}}
.col_7_5 {
  width: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000367}}
.col_8 {
  width: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000368}}
.col_8_5 {
  width: 85%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000369}}
.col_9 {
  width: 90%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000370}}
.col_9_5 {
  width: 95%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000371}}
.col_100 {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000376}}
.text_algn_L {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000380}}
.text_algn_C {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000384}}
.text_algn_R {
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000389}}
.padding-R-0 {
  padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000390}}
.padding-L-0 {
  padding-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000391}}
.padding-T-0 {
  padding-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_global\.scss}line{font-family:\0000392}}
.padding-B-0 {
  padding-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\000039}}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #4e4e4e;
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.05); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000319}}
.top_row {
  background-color: #4e4e4e;
  color: #fff;
  padding: 15px 15px 15px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000325}}
  .top_row .language_opt a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding-left: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000333}}
  .top_row .logoutBtn {
    margin-left: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000340}}
.main_menu_row {
  background-color: rgba(0, 0, 0, 0.08); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000344}}
.bigltr {
  font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000348}}
.logo_img {
  padding: 0;
  width: 118px;
  height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000354}}
  .logo_img img {
    height: 100%;
    width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000361}}
.main_logo {
  padding-top: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000366}}
nav {
  float: left;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000371}}
  nav ul li {
    float: left;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000378}}
    nav ul li a {
      display: block;
      text-align: center;
      line-height: 130%;
      height: 80px;
      border-left: solid 1px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000389}}
      nav ul li a i {
        clear: both;
        font-size: 18px !important;
        color: #3da9e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\0000395}}
      nav ul li a span {
        display: block;
        color: rgba(0, 0, 0, 0.7);
        margin-top: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003100}}
      nav ul li a:hover {
        background-color: #3da9e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003103}}
        nav ul li a:hover i {
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003107}}
        nav ul li a:hover span {
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003113}}
    nav ul li:last-child a {
      border-right: solid 1px rgba(0, 0, 0, 0.1); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003123}}
.drop_Down_menu {
  width: 100%;
  position: absolute;
  top: 80px;
  border-bottom: solid 1px #3da9e0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  background-color: #3da9e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003135}}
  .drop_Down_menu li {
    display: inline-block;
    float: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003139}}
    .drop_Down_menu li a {
      padding: 8px;
      height: auto;
      color: rgba(255, 255, 255, 0.9); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003144}}
      .drop_Down_menu li a:hover {
        background-color: transparent;
        color: #f3bc65; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003156}}
.has_drop_child:hover .drop_Down_menu {
  visibility: visible;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003164}}
.module_search {
  padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003170}}
  .module_search div input {
    width: 200px;
    height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003175}}
  .module_search div button {
    background: #3da9e0;
    color: #fff;
    height: 40px;
    width: 40px;
    border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003188}}
.site_body {
  margin: 50px 20px;
  min-height: 300px;
  width: auto;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003205}}
.projects_view .proj_title {
  background-color: rgba(0, 0, 0, 0.1);
  width: 80px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 50px;
  font-weight: 800;
  font-size: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003221}}
.projects_view .proj_count {
  border: solid 3px #bf81e8;
  text-align: center;
  padding: 50px;
  font-weight: 800;
  font-size: 70px;
  color: #bf81e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003243}}
.col_3_3:nth-child(2) .proj_count {
  border: solid 3px #e74e40;
  color: #e74e40; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003252}}
.col_3_3:nth-child(3) .proj_count {
  border: solid 3px #f3bc65;
  color: #f3bc65; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003262}}
.site_list_view {
  padding: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003266}}
.section_hdr {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003271}}
  .section_hdr h1,
  .section_hdr .section_hdr_btns_wrp {
    display: inline-block;
    vertical-align: top;
    float: left;
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003279}}
  .section_hdr .section_hdr_btns_wrp {
    float: right;
    padding-top: 27px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003287}}
.view_page_state {
  width: 100%;
  margin: 0 auto;
  padding: 40px 40px;
  background-color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003297}}
.view_row_wrapp {
  width: 100%;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  border-left: solid 1px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003305}}
  .view_row_wrapp:last-child {
    border-bottom: solid 1px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003309}}
  .view_row_wrapp:hover {
    background-color: rgba(0, 0, 0, 0.05); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003314}}
  .view_row_wrapp .view_label,
  .view_row_wrapp .view_value {
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    width: 30%;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003328}}
  .view_row_wrapp .view_value {
    text-align: left;
    width: 70%;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003336}}
  .view_row_wrapp .site_tabling table {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003340}}
  .view_row_wrapp .site_tabling table tr td,
  .view_row_wrapp .site_tabling table tr th {
    font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/projectV2\/dist\/css\/_layout\.scss}line{font-family:\00003350}}
.copyright {
  text-align: right;
  width: auto;
  margin: 20px; }

/*# sourceMappingURL=custom.css.map */